@import './base.css';

#app {
  background-color: #e3d9fc;
  min-height: 100vh; /* Ensures the app takes up at least the full viewport height */
  display: flex;
  flex-direction: column;
}

body {
  color: #430099; /* Set the global text color */
}

h1, h2, h3, h4, h5, h6{
  color: #430099;
  text-align: center;
}

/* If you want to apply this to all text elements */
h1, h2, h3, h4, h5, h6, p, a, span, div {
  color: #430099;
}
